<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Учет персонала{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <span class="border border-success text-success px-3 py-2 rounded mx-2">Учет персонала</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon "></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!-- Проверяем, аутентифицирован ли пользователь -->
                        {% if user.is_authenticated %}
                                <li class="nav-item mx-2">
                                    <a class="nav-link font-weight-bold font-weight-extra-bold text-white text-bg-secondary px-3 py-2 rounded" href="{% url 'employee_list' %}">Список сотрудников</a>
                                </li>
                                <li class="nav-item mx-2">
                                    <a class="nav-link font-weight-bold font-weight-extra-bold text-white bg-danger px-3 py-2 rounded" href="{% url 'logout' %}">Выход</a>
                                </li>
                            <!-- Добавляем имя пользователя  -->
                            <!--<li class="nav-item mx-2">
                                <span class="navbar-text text-white">
                                    Logged in as: {{ user.username }}
                                </span>
                            </li>-->

                        {% else %}
                            <li class="nav-item mx-2">
                                <a class="nav-link font-weight-bold font-weight-extra-bold text-white text-bg-secondary px-3 py-2 rounded" href="{% url 'login' %}">Войти</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link font-weight-bold font-weight-extra-bold text-white text-bg-secondary px-3 py-2 rounded" href="{% url 'register' %}">Регистрация</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>