{% extends 'base.html' %}

{% load crispy_forms_filters %}
{% load static %}

{% block title %}Авторизация{% endblock %}

{% block content %}

<style>
    .logo-container {
        position: fixed;
        bottom: 20px;
        right: 200px;
        display: flex;
        align-items: center;
    }
    .logo-background {
        position: fixed;
        bottom: -50px;
        right: -50px;
        width: 300px;
        height: auto;
        opacity: 1.0;
    }
    .logo-text {
        font-size: 18px;
        color: #000;
        font-weight: bold;
    }
    .content-container {
        padding: 20px;
    }
</style>

<div class="content-container">
    <div class="container">
        <h2>Авторизация пользователя</h2>
        <form method="post" class="form">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-check d-flex align-items-center">
                <input class="form-check-input " type="checkbox" id="showPassword">
                <label class="form-check-label my-2 mx-2" for="showPassword">Показать пароль</label>
            </div>
            <button type="submit" class="btn btn-primary my-3 ">Войти</button>
        </form>
    </div>

    <script>
        document.getElementById("showPassword").addEventListener("change", function() {
            var passwordField = document.getElementById("id_password");
            if (passwordField.type === "password") {
                passwordField.type = "text";
            } else {
                passwordField.type = "password";
            }
        });
    </script>
</div>

<div class="logo-container">
    <img src="{% static 'images/logo.png' %}" alt="Пятерочка Логотип" class="logo-background">
    <div class="logo-text">Пятерочка финанс</div>
</div>
{% endblock %}